
.contact{
    padding: 1rem;
}
.contact-section{
    margin: .8rem;
    padding: 2rem;
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.general-text{
    font-family: 'Sansita Swashed', cursive;
    color: #000;
    margin: .5rem 0;
}
.email{
    font-size: 35px; 
}
.email-title{
    font-size: 30px;
}
.tell{
    font-size: 35px;
}
.tell-title{
    font-size: 30px;
}
.contact-right{
    text-align: center;
}
.contact-person{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.company-title{
    margin-bottom: 2rem;
}
.person-info{
    margin: 0 2rem;
    text-align: center;
}
.person-image{
    width: 150px;
    border-radius: 50%;
}
.person-name{
    font-size: 30px;
}
.person-job{
    font-size: 20px;
}
@media screen and (max-width: 1040px) {
    .contact-section{
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .contact-person{
        justify-content: center;
    }
    .person-info{
        margin-bottom: 1rem;
    }
}